ion-content ion-toolbar {
  --background: translucent;
}

img{
  margin: auto;
  width: 150px;
  margin-top: 15vh;
  border: solid #bbbbbb;
  margin-left: calc(50% - 75px);
  border-radius: 80px;
}

h1{
  text-align: center;
}
